<h1>Sign in</h2>

<%= form_tag login_url do %>
  <%= label_tag "Name:" %>
  <%= text_field_tag "name" %>
  <%= label_tag "Password:" %>
  <%= password_field_tag "password" %>
  <%= submit_tag "Enter" %>
<% end %>
<p>
<%= link_to "Sign Up", signup_url %></p>
