<div class="container">
<h1>Sign in</h2>

<%= form_tag signin_url do %>
  <%= label_tag "Email:" %>
  <%= text_field_tag "email" %>
  <%= label_tag "Password:" %>
  <%= password_field_tag "password" %>
  <%= submit_tag "Enter" %>
<% end %>
<p>
<%= link_to "Sign Up", signup_url %></p>
</div>