<h2>Create Account</h2>
<%= form_tag new_user_url do %>
  <%= label_tag "Name:" %>
  <%= text_field_tag "name" %>
  <br />
  <%= label_tag "Email:" %>
  <%= text_field_tag "email" %>
  <br />
  <%= label_tag "Password:" %>
  <%= password_field_tag "password" %>
  <br />
  <%= label_tag "Confirm Password:" %>
  <%= password_field_tag "confirm_password" %>
  <br />
  <%= submit_tag "Enter" %>
<% end %>
