  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
  </div>
  <div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
  </div>
  <div class="field">
  <%= f.label :password_confirmation, "Repeat password" %><br />
  <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
  <%= f.label :user_type, "Account type?"%><br />
  <%= f.select :user_type, ["Listener", "Band"] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
