<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <th>User Type</th>
    <th></th>
  </tr>

  <tr>
    <td><%= @user.name  %></td>
    <td><%= @user.user_type  %></td>
    <td><%= link_to 'Edit', edit_user_path(@user) %></td>
  </tr>
</table>

<br /> 
<table>
  <tr>
    <th>Playlists</th>
    <th></th>
  </tr>

  <% @playlists.each do |playlist| %>
    <tr>
     <td><%= link_to playlist.name, playlist_path(playlist.id)  %></td>
     <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
    </tr>
  <% end %>
</table>

