<h2>Create New Station</h2>
<%= form_tag create_station_url do %>
  <%= label_tag "Name:" %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag "Genres:" %>
  <%= text_field_tag :genres %>
  Enter multiple genres separated by a comma.
  
  <br>
  <%= label_tag "Artists:" %>
  <%= text_field_tag :artists %>
  Enter multiple artists separated by a comma.
  <br>
  <%= label_tag "City:" %>
  <%= text_field_tag :city %>
  <br>
  <%= label_tag "Country:" %>
  <%= text_field_tag :country %>
  <%= submit_tag "Enter" %>
<% end %>
