<h1>Playlists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User </th>
    <th>Action</th>
    <th></th>
  </tr>

<% @playlists.each do |playlist| %>
  <tr>
    <td><%= link_to playlist.name, playlist %></td>
    <td><%= link_to playlist.user.name, user_path(playlist.user_id) %></td>
    <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
    <td><%= link_to 'Delete', playlist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playlist', new_playlist_path %>
