<script>
	$(function() {
		$( "#datepicker" ).datetimepicker({dateFormat: 'dd/mm/yy', timeFormat: 'h:mm tt', ampm: true});
	});
	</script>

<%= form_for(@show, remote: true) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :venue %>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, id: :datepicker %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
