<table class="playlist_dis<%= playlist.id %>">
  <thead>
  <tr>
    <th><%= playlist.name %></th>
    <th><%= link_to image_tag('spanner.png', size: '15x20'), edit_playlist_path(playlist.id), remote: true %></th>
    <th><%= link_to image_tag('axe.png', size: '15x20'), playlist_path(playlist.id, song: song.id), :method => :delete, remote: true %></th>
  </tr>
  </thead>
  <tbody class="playlist_<%= playlist.id %>">
  <% playlist.songs.each do |song| %>
    <%= render 'songname', :song => song, :playlist => playlist %>
  <% end %>
  </tbody>
</table>