<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>Sinistereo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <%= csrf_meta_tags %>
    <script>
      $(function() {
        $( "#premium_blend" ).accordion();
      });
    </script>
    <script>
      $(function() {
        $("#accordian").accordion();
      });
    </script>
  </head>
=======
<head>
  <title>Sinistereo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>  
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
>>>>>>> 8d36d34d21503c9e8c23d67516560340ed6bfb9b
  
  <body>

    <div id="container">
      <header>
      <h1><%= link_to "SINISTEREO", root_url %> </h1>
      </header>
      <nav>
      <ul>
        <% if session[:uid] %>
          <% if @user.user_type == "Band" %>
            <li><%= link_to "Dashboard", artist_url(@user.bands.first) %></li>
          <% end %>
          <li><%= link_to "Account", user_url(@user.id) %></li>
          <li><%= link_to "Sign Out", signout_url %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>
      </nav>
    </div>
    <div class="clear"></div>


    <div id="content">

      <% if flash[:notice].present? %>
<<<<<<< HEAD
        <p id="notice"><%= notice %></p>
      <% end %>

      <aside>
      <section>
      <div id='premium_blend'>
        <div>
          <h3> Premium Blend </p>
          </div>
          <% @premium_songs.each do |song| %>
            <ul>
              <div>
                <li><%= song.name %></li>
              </div>
            </ul>
          <% end %>
        </div>
        </section>

          <% if @user && @user.playlists.any? %>
        <section>
        <div id='accordian'>
          <h2> My Playlists </h2>
            <% @playlists.each do |playlist| %>
              <ul>
                <li><h3><%= link_to playlist.name, '#' %></h3></li>
                <% playlist.songs.each do |song| %>
                  <div>
                    <ul>
                      <li><%= song.name %></li>
                    </ul>
                  </div>
                <% end %>
              </ul>
            <% end %>

          <% end %>
          </section>
        </div>
        </aside>

        <div id='player'>
          <%= link_to "Start Listening", "#", :id => 'start' %>
          <br />
          <%= link_to "Add Song to Favorites", '#' %>
        </div>

        <main>
        <%= yield %>
        </main>
      </div>
    </body>
=======
        <p id="notice"><%= flash[:notice] %></p>
       <% end %>
  
      <%= yield %>
  </div>
</body>
>>>>>>> 8d36d34d21503c9e8c23d67516560340ed6bfb9b

  </html>
