<!DOCTYPE html>
<html>
<head>
  <title>Sinistereo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  

  <div id="container">
    <header>
    <h1><%= link_to "SINISTEREO", root_url %> </h1>
    </header>
    <nav>
      <ul>
        <% if session[:uid] %>
          <% if @user.user_type == "Band" %>
            <li><%= link_to "Dashboard", artist_url(@user.bands.first) %></li>
          <% end %>
          <li><%= link_to "Account", user_url(@user.id) %></li>
          <li><%= link_to "Sign Out", signout_url %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>
    </nav>
    </div>
    <div class="clear"></div>
    

    <div id="content">

      <% if flash[:notice].present? %>
        <p id="notice"><%= notice %></p>
       <% end %>

 <div id='main_playlist'>
  <p> Premium Blend </p>
  <%= @main_playlist.name %>
<% @main_songs.each do |m_s| %>
  <ul>
  <li><%= m_s.name %></td>
  </ul>
<% end %>
</div>
<div id='playlists'>
  <p> My Playlists </p>
  <% if @user.present? %>
    <% @playlists.each do |playlist| %>
        <li><%= link_to playlist.name, playlist_path(playlist.id)  %></li>
        <% playlist.songs.each do |song| %>
        <li><%= song.name %></li>
    <% end %>
      </ul>
    <% end %>

  <% end %>
</div>
 
      <%= yield %>
  </div>
</body>

</html>
