<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
	<title>Sinistereo</title>
    <meta property="og:title" content="Sinistereo"/>
    <meta property="og:type" content="music.song"/>
    <meta property="og:url" content="http://www.sinistereo.herokuapp.com"></meta>
		<meta property="og:image" content="<%= root_url %>assets/sinistereo_new.png"/>
    <meta property="og:site_name" content="Sinistereo"/>
    <meta property="og:description" content="Sinistereo: share music; discover bands."/>
    <meta name="description" content="Sinistereo: share music; discover bands."></meta>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="../zen/style.css">
  	<link rel="stylesheet" href="../zen/css/zen.css">
  	<link rel="shortcut icon" href="sinistereo_icon.ico" >
  	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/swanky-purse/jquery-ui.css">
    <script type="text/javascript" src="../zen/js/jquery.rotate.js"></script>
    <script type="text/javascript" src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="../zen/js/jquery.grab.js"></script> 
    <script type="text/javascript" src="../zen/js/jquery.jplayer.min.js"></script>
    
    <!-- Player javascript starts -->
    <script type="text/javascript">

	function fisherYatesShuffle (myArray) {
		another = myArray;
		var i = another.length;
		while ( --i ) {
			var j = Math.floor( Math.random() * ( i + 1 ) );
			var tempi = another[i];
			var tempj = another[j];
			another[i] = tempj;
			another[j] = tempi;
		}
		return another;
	}
		
		function primePlayer(song, allSongs) {
			var status = "stop";
	      	var dragging = false;

	      	// init

	      	var player = $("#zen .player");

	      	function playSong(songUrl) {
		      	var player = $("#zen .player");
	      		player.jPlayer({
	      			ready: function () {
	      				$(this).jPlayer("setMedia", {
	      					mp3: "" + songUrl
	      				}).jPlayer("play");
	      			},

	      		});
	      		status = "play";
	    			$("#zen").addClass( "play" );
	      	};

	        <% if @current_song  %>
	        	playSong(song);
	      	<% end %>
	
	      	// preload, update, end

	      	player.bind($.jPlayer.event.progress, function(event) {    

	      		var audio = $('#zen audio').get(0);
	      		var pc = 0;    

	      		if ((audio.buffered != undefined) && (audio.buffered.length != 0)) {
	      		 	pc = parseInt(((audio.buffered.end(0) / audio.duration) * 100), 10); 
	      		  	displayBuffered(pc);
	      		  	//console.log(pc);
	      		  	if(pc >= 99) {
	      		  		//console.log("loaded");
	      		  		$('#zen .buffer').addClass("loaded");
	      		  	}  
	      		}        

	      	});

	      	//player.bind($.jPlayer.event.loadeddata, function(event) {    
	      		//$('#zen .buffer').addClass("loaded");    
	      	//});

	      	player.bind($.jPlayer.event.timeupdate, function(event) { 
	      		var pc = event.jPlayer.status.currentPercentAbsolute;
	      		if (!dragging) { 
	      	    	displayProgress(pc);
	      		}
	      	});
	      // BND: we have to change this so when event.ended occurs, it loads the new one. => DONE.
	      	player.bind($.jPlayer.event.ended, function(event) {   
	      		$('#zen .circle').removeClass( "rotate" );
	      		$("#zen").removeClass( "play" );
	      		$('#zen .progress').css({rotate: '0deg'});
	      		status = "stop";
	      			      	var dragging = false;
	      			      	var player = $("#zen .player");
				$(".player").replaceWith("<%= j(render 'player') %>");
				songIndex = songIndex + 1;
				if (allSongs[songIndex]) {
					primePlayer(JSON.parse(allSongs[songIndex]).audio.url, allSongs);
					$.get('next', {song: JSON.parse(allSongs[songIndex]).id});
					
				}
				else {
					newSongs = fisherYatesShuffle(allSongs);
					if (allSongs.length != 1){
						while (JSON.parse(newSongs[0]).id == JSON.parse(allSongs[(songIndex-1)]).id) {
							newSongs = fisherYatesShuffle(allSongs);
						}
					}
					songs = newSongs;
					songIndex = 0;
					primePlayer(JSON.parse(newSongs[songIndex]).audio.url, newSongs);
					$.get('next', {song: JSON.parse(newSongs[songIndex]).id});
					
				}
				
	      	});

	      	// play/pause

	      	$("#zen .button").bind('mousedown', function() {
	      		// not sure if this can be done in a simpler way.
	      		// when you click on the edge of the play button, but button scales down and doesn't trigger the click,
	      		// so mouseleave is added to still catch it.
	      		$(this).bind('mouseleave', function() {
	      			$(this).unbind('mouseleave');
	      			onClick();
	      		});
	      	});

	      	$("#zen .button").bind('mouseup', function() {
	      		$(this).unbind('mouseleave');
	      		onClick();
	      	});

	      	function onClick() {  		

	              if(status != "play") {
	      			status = "play";
	      			$("#zen").addClass( "play" );
	      			player.jPlayer("play");
	      		} else {
	      			$('#zen .circle').removeClass( "rotate" );
	      			$("#zen").removeClass( "play" );
	      			status = "pause";
	      			player.jPlayer("pause");
	      		}
	      	};

	      	// draggin

	      	var clickControl = $('#zen .drag');

	      	clickControl.grab({
	      		onstart: function(){
	      			dragging = true;
	      			$('#zen .button').css( "pointer-events", "none" );

	      		}, onmove: function(event){
	      			var pc = getArcPc(event.position.x, event.position.y);
	      			player.jPlayer("playHead", pc).jPlayer("play");
	      			displayProgress(pc);

	      		}, onfinish: function(event){
	      			dragging = false;
	      			var pc = getArcPc(event.position.x, event.position.y);
	      			player.jPlayer("playHead", pc).jPlayer("play");
	      			$('#zen .button').css( "pointer-events", "auto" );
	      		}
	      	});	

	      	// functions

	      	function displayProgress(pc) {
	      		var degs = pc * 3.6+"deg"; 
	      		$('#zen .progress').css({rotate: degs}); 		
	      	}
	      	function displayBuffered(pc) {
	      		var degs = pc * 3.6+"deg"; 
	      		$('#zen .buffer').css({rotate: degs}); 		
	      	}

	      	function getArcPc(pageX, pageY) { 
	      		var	self	= clickControl,
	      			offset	= self.offset(),
	      			x	= pageX - offset.left - self.width()/2,
	      			y	= pageY - offset.top - self.height()/2,
	      			a	= Math.atan2(y,x);  

	      			if (a > -1*Math.PI && a < -0.5*Math.PI) {
	      		   a = 2*Math.PI+a; 
	      		} 

	      		// a is now value between -0.5PI and 1.5PI 
	      		// ready to be normalized and applied   			
	      		var pc = (a + Math.PI/2) / 2*Math.PI * 10;   

	      		return pc;
	      	}
	       	
		};
				
        $(document).ready(function() {
			window.songs = <%= raw @these_songs.to_json %>;
			<% if @current_playlist %>
				window.playlist = <%= raw @current_playlist.to_json %>;
			<% end %>
			window.songIndex = 0;
			primePlayer(JSON.parse(songs[songIndex]).audio.url, songs);	
		});
    	
      </script>
      <!-- Player javascript ends -->
      
      <!-- Slideshow & next song javascript begins -->
      <script type="text/javascript">
        $(document).ready(function(){
          $("#slideshow_images").cycle({
            fx: 'fade',
            speed: 2000,
          });

			$(".skip").on('click', function() {
				$(".player").replaceWith("<%= j(render 'player') %>");
				songIndex = songIndex + 1;
				if (songs[songIndex]) {
					primePlayer(JSON.parse(songs[songIndex]).audio.url, songs);
					$.get('next', {song: JSON.parse(songs[songIndex]).id});
				
				}
				else {
					newSongs = fisherYatesShuffle(songs);
					if (songs.length != 1) {
						while (JSON.parse(newSongs[0]).id == JSON.parse(songs[(songIndex-1)]).id) {
							newSongs = fisherYatesShuffle(songs);
						};
					}
					songs = newSongs;
					songIndex = 0;
					primePlayer(JSON.parse(newSongs[songIndex]).audio.url, newSongs);
					$.get('next', {song: JSON.parse(newSongs[songIndex]).id});	
				}	
			});
			
        });
      </script>
      <!-- Slideshow javascript ends -->
      
  </head>

  <body>
    
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Button Script -->
    
  <div class="everything">
    <!-- Begin top nav bar -->
    <div class="head-container">
      <div class="logo">
        <%= image_tag("sinistereo_logo.png", :size => "250x125") %>      
      </div>
      <div class="clear"></div>
      <nav>
        <ul class="nav nav-pills">
          <% if @user %>
            <% if @user.user_type == "Band" %>
              <li><%= link_to "Dashboard", artist_url(@user.bands.first), remote: true %></li>
            <% end %>
            <li><%= link_to "Account", user_url(@user.id), remote: true %></li>
            <li><%= link_to "Sign Out", signout_url %></li>
          <% else %>
            <li><%= link_to "Sign In", signin_url, remote: true %></li>
            <li><%= link_to "Sign Up", new_user_url, remote: true %></li>
          <% end %>
        </ul>
      </nav>
      <div class="clear"></div>
      <% if flash[:notice].present? %>
        <p id="notice"><%= notice %></p>
      <% end %>
    </div>
    <!-- End top nav bar -->
    
    <!-- Begin left sidebar -->
    <div class="span4">
      <div class="well sidebar-nav", id="bar">
        <div id="welcome">
        <% if @user %>
          Welcome
          <% if @user.name.nil? || @user.name.empty? %>
            ...sorry, <%= link_to "what was your name again?",  user_path(@user.id), remote: true %>
          <% else %> 
             <%= @user.name %>
          <% end %>
            !
        <% end %>
        </div>
		<%= render 'now_playing', current_song: @current_song, current_playlist: @current_playlist, playlists: @playlists, artist: @artist %>
      </div>
      <!-- End Now Playing sidebar -->
      
      
      <div class="well sidebar-nav", id="bar">
        <h3> Top Songs </h3>
        <ul class="nav nav-list">
        <% if @top_songs %>
          <% @top_songs.each do |song| %>
            <li><%= link_to "\"#{song.name}\"", aplaylist_url(song: song.id, top: "Yes!"), remote: true %>
              <ul class="nav nav-list">
                <li><%= link_to "--#{song.artist.name}", aplaylist_url(artist: song.artist.id), remote: true %></li>
              </ul>
            </li>
          <% end %>
        <% end %>
        </ul>
        
      <% if @user && @current_song %>
        <div class="playlists">
          <% if @user.playlists.any? %>
            <% unless @playlists.empty? %>
              <h2>Playlists</h2>
              <% @playlists.each do |playlist| %>
                <%= render 'playlist_bar', playlist: playlist, song: @current_song %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <ul class="nav nav-list">
          <li><%= link_to "Add New Playlist", new_playlist_path(song: @current_song.id), remote: true %></li>
        </ul>
        <div class="clear"></div>
      <% end %>
      </div>
      <!-- End Songs/Playlists sidebar -->

    </div>
    <!-- End left sidebar -->
      <div class="span4", id="tour">
        <%= yield %>
      </div>
      <script type="text/javascript">
	</script>
	
    <!-- Begin player -->
	<div class="span4">
		<%= render 'player' %>
		<div class="skip">
			<button class="btn-large btn-inverse" id="skip">
				<i class="icon-step-forward"></i>  
			</button>
		</div>
		
    </div>
    <!-- End Player/Skip object -->
    


    <!-- Begin right sidebar -->
      <div class="span4 offset4" id="right">
        
        <div class="well sidebar-nav" id="window">
          <div class="content">
            <div class="new_playlist"></div>
            <div class="edit_playlist"></div>
            <div class="dashboard"></div>
            <div class="account"></div>
            <div class="signin"></div>
            <div class="signup"></div>
          </div>
          <div class="clear"></div>
        </div>
        
        <!-- End sliding utility window-->
        
        <div class="well sidebar-nav", id="bar">
			<%= render 'band_info', current_song: @current_song, artist: @artist, album: @album %>
        </div>
        <!-- End Band info/Shows window -->
        
      </div>
      <!-- End right sidebar       -->
    </div>
  </body>

</html>
