<!DOCTYPE html>
<html>
  <head>
    <title>Sinistereo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
        <link rel="stylesheet" href="style.css">
    	<link rel="stylesheet" href="css/zen.css">

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>   
      
      
  </head>


  <body>

    <div id="container">
      <header>
      <h1><%= link_to "SINISTEREO", root_url %> </h1>

      </header>
      
      <nav>
      <ul>
        <% if @user %>
          <% if @user.user_type == "Band" %>
            <li><%= link_to "Dashboard", artist_url(@user.bands.first) %></li>
          <% end %>
          <li><%= link_to "Account", user_url(@user.id) %></li>
          <li><%= link_to "Sign Out", signout_url %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>
      </nav>
    </div>
    <div class="clear"></div>
    
    <body>
      

    <div id="content">

      <% if flash[:notice].present? %>
        <p id="notice"><%= notice %></p>
      <% end %>

      
        
        <%= yield %>
      </div>
      
      
    </body>

  </html>
