<!DOCTYPE html>
<html>
  <head>
    <title>Sinistereo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <%= csrf_meta_tags %>
    <script>
      $(function() {
        $( "#premium_blend" ).accordion();
      });
    </script>
    <script>
      $(function() {
        $("#accordian").accordion();
      });
    </script>


    <link type="text/css" href="http://jplayer.org/latest/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
          $("#jquery_jplayer_1").jPlayer({
                ready: function () {
                $(this).jPlayer("setMedia", {
                mp3: "http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
                });
                },
                swfPath: "/http://www.jplayer.org/2.1.0/js",
                supplied: "mp3"
                });
                          });
  </script>

  </head>



  <body>

    <div id="container">
      <header>
      <h1><%= link_to "SINISTEREO", root_url %> </h1>
      </header>
      <nav>
      <ul>
        <% if @user.present? %>
          <% if @user.user_type == "Band" %>
            <li><%= link_to "Dashboard", artist_url(@user.bands.first) %></li>
          <% end %>
          <li><%= link_to "Account", user_url(@user.id) %></li>
          <li><%= link_to "Sign Out", signout_url %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>
      </nav>
    </div>
    <div class="clear"></div>

    <div id="content">

      <% if flash[:notice].present? %>
        <p id="notice"><%= notice %></p>
      <% end %>

      <aside>
      <section>
      <div id='premium_blend'>
        <div>
          <h3> Premium Blend </p>
          </div>
          <% @premium_songs.each do |song| %>
            <ul>
              <div>
                <li><%= song.name %></li>
              </div>
            </ul>
          <% end %>
        </div>
        </section>

        <% if @user && @user.playlists.any? %>
          <section>
          <div id='accordian'>
            <h2> My Playlists </h2>
            <% @playlists.each do |playlist| %>
              <ul>
                <li><h3><%= link_to playlist.name, '#' %></h3></li>
                <% playlist.songs.each do |song| %>
                  <div>
                    <ul>
                      <li><%= song.name %></li>
                    </ul>
                  </div>
                <% end %>
              </ul>
            <% end %>

          <% end %>
          </section>
        </div>
        </aside>

     <article>
        <div class='player'>
          <div id="jquery_jplayer_1" class="jp-jplayer"></div>

          <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
              <div class="jp-gui jp-interface">
                <ul class="jp-controls">

                  <!-- comment out any of the following <li>s to remove these buttons -->

                  <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                  <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                  <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                  <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                  <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                  <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                </ul>

                  <div class="jp-progress">
                    <div class="jp-seek-bar">
                      <div class="jp-play-bar"></div>
                    </div>
                  </div>
                  <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                  </div>
                  <div class="jp-current-time"></div>
                  <div class="jp-duration"></div>                   
                </div>

                <div class="jp-title">
                  <ul>
                    <li>Cro Magnon Man</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </article>

        </div>
        <%= yield %>
      </div>
    </body>

  </html>
