<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Sinistereo - <%= @current_song.name.to_s %> - <%= @artist.name.to_s %></title>
    <meta property="og:title" content="Sinistereo - <%= @current_song.name.to_s %> - <%= @artist.name.to_s %>"/>
    <meta property="og:type" content="song"/>
    <meta property="og:url" content="http://www.sinistereo.fm/?id=<%= @current_song.id %>"/>
    <meta property="og:image" content="<%= @current_song.album.image_url(:thumb).to_s.rstrip %>"/>
    <meta property="og:site_name" content="Sinistereo"/>
    <meta property="og:description" content="<%= @artist.bio.to_s.rstrip %>"/>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="../zen/style.css">
  	<link rel="stylesheet" href="../zen/css/zen.css">
  	<link rel="shortcut icon" href="../images/sinistereo_icon.ico" >
  	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/swanky-purse/jquery-ui.css">
    <script type="text/javascript" src="../zen/js/jquery.rotate.js"></script>
    <script type="text/javascript" src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="../zen/js/jquery.grab.js"></script> 
    <script type="text/javascript" src="../zen/js/jquery.jplayer.min.js"></script>
    
    <!-- Player javascript starts -->
    <script type="text/javascript">
        $(document).ready(function(){    

        	var status = "stop";
      	var dragging = false;

      	// init

      	var player = $("#zen .player");

      	function playSong(songUrl) {
      		player.jPlayer({
      			ready: function () {
      				$(this).jPlayer("setMedia", {
      					mp3: "" + songUrl
      				}).jPlayer("play");
      			},

      		});
      		status = "play";
    			$("#zen").addClass( "play" );
      	};
        <% if @current_song  %>
        	playSong("<%= j(@current_song.audio.url.to_s) %>");
      	<% end %>

      	// preload, update, end

      	player.bind($.jPlayer.event.progress, function(event) {    

      		var audio = $('#zen audio').get(0);
      		var pc = 0;    

      		if ((audio.buffered != undefined) && (audio.buffered.length != 0)) {
      		 	pc = parseInt(((audio.buffered.end(0) / audio.duration) * 100), 10); 
      		  	displayBuffered(pc);
      		  	//console.log(pc);
      		  	if(pc >= 99) {
      		  		//console.log("loaded");
      		  		$('#zen .buffer').addClass("loaded");
      		  	}  
      		}        

      	});

      	//player.bind($.jPlayer.event.loadeddata, function(event) {    
      		//$('#zen .buffer').addClass("loaded");    
      	//});

      	player.bind($.jPlayer.event.timeupdate, function(event) { 
      		var pc = event.jPlayer.status.currentPercentAbsolute;
      		if (!dragging) { 
      	    	displayProgress(pc);
      		}
      	});
      // BND: we have to change this so when event.ended occurs, it loads the new one.
      	player.bind($.jPlayer.event.ended, function(event) {   
      		$('#zen .circle').removeClass( "rotate" );
      		$("#zen").removeClass( "play" );
      		$('#zen .progress').css({rotate: '0deg'});
      		status = "stop";
      		var sURL = unescape(window.location.pathname);
      		window.location.href = sURL;
      	});

      	// play/pause

      	$("#zen .button").bind('mousedown', function() {
      		// not sure if this can be done in a simpler way.
      		// when you click on the edge of the play button, but button scales down and doesn't drigger the click,
      		// so mouseleave is added to still catch it.
      		$(this).bind('mouseleave', function() {
      			$(this).unbind('mouseleave');
      			onClick();
      		});
      	});

      	$("#zen .button").bind('mouseup', function() {
      		$(this).unbind('mouseleave');
      		onClick();
      	});

      	function onClick() {  		

              if(status != "play") {
      			status = "play";
      			$("#zen").addClass( "play" );
      			player.jPlayer("play");
      		} else {
      			$('#zen .circle').removeClass( "rotate" );
      			$("#zen").removeClass( "play" );
      			status = "pause";
      			player.jPlayer("pause");
      		}
      	};

      	// draggin

      	var clickControl = $('#zen .drag');

      	clickControl.grab({
      		onstart: function(){
      			dragging = true;
      			$('#zen .button').css( "pointer-events", "none" );

      		}, onmove: function(event){
      			var pc = getArcPc(event.position.x, event.position.y);
      			player.jPlayer("playHead", pc).jPlayer("play");
      			displayProgress(pc);

      		}, onfinish: function(event){
      			dragging = false;
      			var pc = getArcPc(event.position.x, event.position.y);
      			player.jPlayer("playHead", pc).jPlayer("play");
      			$('#zen .button').css( "pointer-events", "auto" );
      		}
      	});	

      	// functions

      	function displayProgress(pc) {
      		var degs = pc * 3.6+"deg"; 
      		$('#zen .progress').css({rotate: degs}); 		
      	}
      	function displayBuffered(pc) {
      		var degs = pc * 3.6+"deg"; 
      		$('#zen .buffer').css({rotate: degs}); 		
      	}

      	function getArcPc(pageX, pageY) { 
      		var	self	= clickControl,
      			offset	= self.offset(),
      			x	= pageX - offset.left - self.width()/2,
      			y	= pageY - offset.top - self.height()/2,
      			a	= Math.atan2(y,x);  

      			if (a > -1*Math.PI && a < -0.5*Math.PI) {
      		   a = 2*Math.PI+a; 
      		} 

      		// a is now value between -0.5PI and 1.5PI 
      		// ready to be normalized and applied   			
      		var pc = (a + Math.PI/2) / 2*Math.PI * 10;   

      		return pc;
      	}
    	});
    	
      </script>
      <!-- Player javascript ends -->
      
      <!-- Slideshow javascript begins -->
      <script type="text/javascript">
        $(document).ready(function(){
          $("#slideshow_images").cycle({
            fx: 'fade',
            speed: 2000,
          });
        });
      </script>
      <!-- Slideshow javascript ends -->
      
  </head>

  <body>
    
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Button Script -->
    
  <div class="everything">
    <!-- Begin top nav bar -->
    <div class="head-container">
      <div class="logo">
        <%= image_tag("sinistereo_logo.png", :size => "250x125") %>      
      </div>
      <div class="clear"></div>
      <nav>
        <ul class="nav nav-pills">
          <% if @user %>
            <% if @user.user_type == "Band" %>
              <li><%= link_to "Dashboard", artist_url(@user.bands.first), remote: true %></li>
            <% end %>
            <li><%= link_to "Account", user_url(@user.id), remote: true %></li>
            <li><%= link_to "Sign Out", signout_url %></li>
          <% else %>
            <li><%= link_to "Sign In", signin_url, remote: true %></li>
            <li><%= link_to "Sign Up", new_user_url, remote: true %></li>
          <% end %>
        </ul>
      </nav>
      <div class="clear"></div>
      <% if flash[:notice].present? %>
        <p id="notice"><%= notice %></p>
      <% end %>
    </div>
    <!-- End top nav bar -->
    
    <!-- Begin left sidebar -->
    <div class="span4">
      <div class="well sidebar-nav", id="bar">
        <% if @user %>
          Welcome
          <% if @user.name.nil? || @user.name.empty? %>
            ...sorry, <%= link_to "what was your name again?",  user_path(@user.id) %>
          <% else %> 
             <%= @user.name %>
          <% end %>
            !
        <% end %>
        <h2>Now Playing</h2>
        <% if session[:playlist] %>
          <h3>Playlist: <%= @current_playlist.name %></h3>
        <% end %>
        <ul class="nav nav-list">
          <% if @current_song %>
            <li>"<%= @current_song.name %>"</li>
            <li><strong><%= link_to "#{@current_song.artist.name}", root_url(artist: @current_song.artist.id) %></strong></li>
            <li><%= @current_song.album.name %></li>
          <% end %>
          <% if @user && @current_song %>
            <ul class="nav nav-list" id="song_pref">
              <li class="upvote"><%= link_to image_tag('heart.png', :size => '40x40'), upvote_url(@current_song.id), remote: true %></li>
              <li class="downvote"><%= link_to image_tag('broken_heart.png', :size => '40x40'), downvote_url(@current_song.id), remote: true %></li>
              <!-- Facebook Like Button -->
              <li><div class="fb-like" data-href="http://www.sinistereo.fm/?id=<%= @current_song.id %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div></li>
              <!-- End Like Button -->
              <!-- Twitter tweet button -->
              <li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sinistereo.fm/?id=<%= @current_song.id %>" data-text="I just listened to <%= @current_song.name %> by <%= @artist.name %> on Sinistereo!">Tweet</a></div></li>
              <!-- End Twitter tweet button -->
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <% if !@playlists.empty? %>
                <% @playlists.each do |playlist| %>
                  <% if !playlist.songs.include?(@current_song) %>
                    <%= render 'add_playlist_to_song', :playlist => playlist, :song => @current_song %>
                  <% end %>
                <% end %>
            <% end %>  
            </ul>
          <% end %>   
        </ul>         
      </div>
      <!-- End Now Playing sidebar -->
      
      
      <div class="well sidebar-nav", id="bar">
        <h3> Top Songs </h3>
        <ul class="nav nav-list">
        <% if @top_songs %>
          <% @top_songs.each do |song| %>
            <li><%= link_to "\"#{song.name}\"", root_url(id: song.id, top: "Yes!") %>
              <ul class="nav nav-list">
                <li><%= link_to "--#{song.artist.name}", root_url(artist: song.artist.id) %></li>
              </ul>
            </li>
          <% end %>
        <% end %>
        </ul>
        
      <% if @user && @current_song %>
        <div class="playlists">
          <% if @user.playlists.any? %>
            <% unless @playlists.empty? %>
              <h2>Playlists</h2>
              <% @playlists.each do |playlist| %>
                <%= render 'playlist_bar', playlist: playlist, song: @current_song %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <ul class="nav nav-list">
          <li><%= link_to "Add New Playlist", new_playlist_path(song: @current_song.id), remote: true %></li>
        </ul>
        <div class="clear"></div>
      <% end %>
      </div>
      <!-- End Songs/Playlists sidebar -->

    </div>
    <!-- End left sidebar -->
      <div class="span4", id="tour">
        <%= yield %>
      </div>
      
    <!-- Begin player -->
    <div class="span4">
    	<div id="zen">
    		<span class="player"></span>
    		<span class="circle"></span>
    		<span class="progress"></span>
    		<span class="buffer"></span>
    		<span class="drag"></span>
    		<div class="button">
    			<span class="icon play"></span>
    			<span class="icon pause"></span>
    		</div>
    	</div>
    	<div id="skip">
    	  <a href="<%= root_url %>">
      	  <button class="btn-large btn-inverse">
      	    <i class="icon-step-forward"></i>
        	</button>
      	</a>
      </div>
    </div>
    <!-- End Player/Skip object -->
    


    <!-- Begin right sidebar -->
      <div class="span4 offset4" id="right">
        
        <div class="well sidebar-nav" id="window">
          <div class="content">
            <div class="new_playlist"></div>
            <div class="edit_playlist"></div>
            <div class="dashboard"></div>
            <div class="account"></div>
            <div class="signin"></div>
            <div class="signup"></div>
          </div>
          <div class="clear"></div>
        </div>
        
        <!-- End sliding utility window-->
        
        <div class="well sidebar-nav", id="bar">
          <% if @current_song %>
            <ul class="nav nav-list">

                <li><h2><%= link_to "#{@artist.name}", root_url(artist: @artist.id) %></h2></li>
                <li><strong><%= @artist.city %>, <%= @artist.state %></strong></li><br />

              <!-- Artwork slideshow -->
              <% if @album.image.present? || @artist.image.present? %>
                <div id="slideshow_images">
                  <% if @album.image.present?  %>
                    <%= image_tag @album.image_url(:thumb).to_s %>
                  <% end %>
                  <% if @artist.image.present? %>
                    <%= image_tag @artist.image_url(:thumb).to_s %>
                  <% end %>
                </div>
                <!-- Slideshow end -->
              <% end %>

                <li><%= @artist.bio %></li>
                <% if @artist.website %>
                  <li><%= link_to @artist.website, "http://#{@artist.website}", target: "_blank" %></li>
                <% end %>
                <li><h3>Shows</h3></li>
                <ul class="nav nav-list">
                  <% @artist.shows.each do |show| %>
                  <li><strong><%= show.venue %></strong></li>
                  <li><%= show.date.strftime("%e/%m/%y %l:%M %P") %></li>
                  <li><%= show.city %></li>
                  <li><%= show.state %></li><br />
                  <% end %>
                </ul>
              </ul>
            <% end %>

        </div>
        <!-- End Band info/Shows window -->
        
      </div>
      <!-- End right sidebar       -->
    </div>
  </body>

</html>
