<!DOCTYPE html>
<html>
<head>
  <title>Sinistereo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <header>
    <h1><%= link_to "SINISTEREO", root_url %> </h1>
    <nav>
      <ul>
        <% if session[:uid].present? %>
          <li><%= link_to "View Profile", users_url(User.find_by_id(session[:iud])) %></li>
          <li><%= link_to "Sign Out", signout_url %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_url %></li>
          <li><%= link_to "Sign Up", signup_url %></li>
        <% end %>
      </ul>
    </nav>

    <div id="content">

      <% if flash[:notice].present? %>
        <p id="notice"><%= notice %></p>
       <% end %>
  
      <%= yield %>
     
    </div>
  </div>
</body>
</html>
