<!DOCTYPE html>
<html>
  <head>
    <title>Sinistereo</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--BND added 6/13, trying to do Zen player -->
    <link rel="stylesheet" href="zen/style.css">
	<link rel="stylesheet" href="zen/css/zen.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>   
    <script type="text/javascript" src="zen/js/jquery.rotate.js"></script>
    <script type="text/javascript" src="zen/js/jquery.grab.js"></script> 
    <script type="text/javascript" src="zen/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="zen/js/zen.js.erb"></script>	
  </head>

  <body>

    <div id="container">
      <header>
      <h1><%= link_to "SINISTEREO", root_url %> </h1>

      </header>
      
      <nav>
      <ul>
        <% if @user %>
          <% if @user.user_type == "Band" %>
            <li><%= link_to "Dashboard", artist_url(@user.bands.first), remote: true %></li>
          <% end %>
          <li><%= link_to "Account", user_url(@user.id), remote: true %></li>
          <li><%= link_to "Sign Out", signout_url %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_url, remote: true %></li>
          <li><%= link_to "Sign Up", new_user_url, remote: true %></li>
        <% end %>
      </ul>
      </nav>
    </div>
    <div class="clear"></div>
    
    <body>
      

    <div id="content">
      <div class="window">
        <div class="new_playlist"></div>
        <div class="edit_playlist"></div>
        <div class="dashboard"></div>
        <div class="account"></div>
        <div class="signin"></div>
        <div class="signup"></div>
      </div>
      

      <% if flash[:notice].present? %>
        <p id="notice"><%= notice %></p>
      <% end %>

      <aside>
      <section>
      <div id='premium_blend'>
        <div>
          <h3> Premium Blend </p>
          </div>
          <% @premium_songs.each do |song| %>
            <ul>
              <div>
                <li><%= song.name %></li>
              </div>
            </ul>
          <% end %>
        </div>
        </section>

          <section>
            <% if @user %>
            <%= link_to "Add New Playlist", new_playlist_path, remote: true %>
              <div class="playlists">
              <% if @user.playlists.any? %>
                <% unless @playlists.empty? %>
                  <h2>Playlists</h2>
                    <% @playlists.each do |playlist| %>
                    <%= render 'playlist_bar', playlist: playlist %>
                    <% end %>
                    </div>
                <% end %>
              <% end %>
            <% end %>
            
          </section>
        </aside>

     <article>

	<div id="zen">
		<span class="player"></span>
		<span class="circle"></span>
		<span class="progress"></span>
		<span class="buffer"></span>
		<span class="drag"></span>
		<div class="button">
			<span class="icon play"></span>
			<span class="icon pause"></span>
		</div>
	</div>



      </article>

        </div>
        <%= yield %>
      </div>
      
      
    </body>

  </html
